[submodule "uiautomation_pkg_common_webdriver"]
	path = uiautomation_pkg_common_webdriver
url=https://stash.r.mutualmobile.com/scm/aut/uiautomation_pkg_common_webdriver.git
[submodule "southwire_pkg_uiautomation_webdriver"]
	path = southwire_pkg_uiautomation_webdriver
	url = https://khai.le@stash.r.mutualmobile.com/scm/aut/southwire_pkg_uiautomation_webdriver.git
